{% extends 'template.html' %}

{% block index_header %}
    <div class="ui inverted vertical masthead center aligned segment header" style="width: 100%;height: 100%" >
        <div class="ui text container">
          <h1></h1><h1></h1><h1></h1><h1></h1>
          <h1 class="ui inverted header">
            Display-of-Second-House-Informations
          </h1>
          <h2>
            Please choose cities, more cities waiting to join, please wait...
          </h2>
          <a href="http://127.0.0.1:8000/list_ty">
             <h2 class="ui huge yellow basic button">List-TaiYuan</h2>
          </a>
          <a href="http://127.0.0.1:8000/map_ty">
             <h2 class="ui huge yellow basic button">Map-Taiyuan</h2>
          </a>
        </div>
    </div>
{% endblock %}
